### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Maven - ignoruj folder zbudowanego projektu
target/

# IntelliJ - ignoruj pliki konfiguracyjne specyficzne dla Twojego komputera
.idea/
*.iml

# Pliki tymczasowe Ubuntu / Linux
*~
.fuse_hidden*
.directory
.trash/